@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

/*Navigation bar responsivness*/

@media (max-width: 640px) {
	.container {
		overflow-x: hidden;
	}

	ul {
		padding: 10px;
	}

	li {
		padding: 15px;
	}
}

/*Home page responsivness*/

@media (min-width: 641px) {
	.download {
  	  margin: 90px;
	  width: 25%;
	}

	input, textarea {
		font-size: 0.8em;
	}
}

@media (max-width: 640px) {

	.container {
		padding: 0;
	}

	.section-one, .section-two, .section-three {
	  flex-wrap: wrap;
	  font-size: 0.7rem;
	  height: 100vh;
	  padding: 3%;
	}

	.section-one, .section-two {
		height: 100%;
	}

	.welcome-image {
		width: 100%;
	}

	.download {
	  margin-bottom: 30px;
	  width: 70%;
	}

	input, textarea {
		font-size: 1rem;
	}
}