{include="header.html"}
<link rel="stylesheet" type="text/css" href="assets/styles/registration-style.css">

<div class="container">
      <form action="inc/login.inc.php" method="post">
        <h1 class="form-title">Log In</h1>
         <label for="email">Email</label>
         <br>
         <input type="email" id="email" name="email" placeholder="Your email.." required>
         <br>
         <label for="password">Password</label>
         <br>
         <input type="password" id="password" name="password" placeholder="Your password.." required>
         <br>

         {$msg}
         
        <input type="submit" value="Submit" name="submit">
      </form>
</div>

{include="footer.html"}