@media (max-width: 640px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {

    flex-wrap: wrap;
  }

  .text-box {
  	padding: 0px;
  	width: 100%;
  }

  .text-container {
  	width: 70%;
  	margin-left: auto;
  	margin-right: auto;
  }
}